<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Novel.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Novel.Properties.Settings>
            <setting name="gGender" serializeAs="String">
                <value />
            </setting>
            <setting name="gTypeOfHero" serializeAs="String">
                <value />
            </setting>
            <setting name="gNameOfHero" serializeAs="String">
                <value />
            </setting>
            <setting name="gChoiceStory1" serializeAs="String">
                <value />
            </setting>
            <setting name="gInit" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="gIsRunning" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="gStopAnimation" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="gTurn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="gGameWin" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="gTest" serializeAs="String">
                <value>False</value>
            </setting>
        </Novel.Properties.Settings>
    </userSettings>
</configuration>